<div class="container">

  <div class="all-the-pictures">
    <ul class="instagram-pictures">
    <% @instagram.each do |instagram| %>
    <li><%= image_tag instagram.images.standard_resolution.url, class: "instagram-draggable", id: instagram.id %></li>
    <% end %>
  </ul>
  </div>

  <div class="your-pictures">
  </div>

</div>