
<div class="container">

  <div class="instagram-pictures container js-masonry all-the-pictures masonry item" id="container" data-masonry-options='{ "columnWidth": 102, "itemSelector": ".item" }'>

    <% @instagram_array.each do |tag| %>
    <div class="item">

      <%= image_tag tag.image_url, class: "instagram-draggable", id: tag.instagram_id %><br>
      <button disabled="<%= tag.votable?(current_user.id) %>" class="vote-button">vote</button >
        <span>votes = <span class="vote-count"><%= tag.vote_count %></span></span>

      </div>
      <% end %>

    </div>


    <div class="instagram-pictures container js-masonry your-pictures masonry item" id="container" data-masonry-options='{ "columnWidth": 102, "itemSelector": ".item" }'>

      <% @instagram.each do |instagram| %>
      <div class="item">

        <% if instagram.tags.grep(/collect_a_matron/) != [] %>
        <%= image_tag instagram.images.thumbnail.url, class: "instagram-draggable", id: instagram.id %><br>
        <% end %>

      </div>
      <% end %>

    </div>

  </div>



