<div class="container">
  <button class="filter-button">toggle</button>

  <div class="all-the-pictures">
    <ul class="instagram-pictures">
      <h3>ALL the PICTURES</h3>
      <% @tag.each do |tag| %>
        <li><%= image_tag tag.images.thumbnail.url, class: "instagram-draggable", id: tag.id %><button class="vote-button">vote</button><p></p></li>
      <% end %>

    </ul>
  </div>

  <div class="your-pictures">
    <ul class="instagram-pictures">
      <h3>YOUR pictures</h3>
      <% @instagram.each do |instagram| %>
        <% if instagram.tags.grep(/collect_a_matron/) != [] %>
        <li><%= image_tag instagram.images.thumbnail.url, class: "instagram-draggable", id: instagram.id %><p></p></li>
        <% end %>
      <% end %>

    </ul>
  </div>

</div>

