
<div class="container">

  <div class="instagram-pictures container js-masonry all-the-pictures masonry item" id="container" data-masonry-options='{ "columnWidth": 125, "itemSelector": ".item" }'>

    <% @instagram_array.each do |tag| %>
    <div class="item">

      <%= image_tag tag.image_url, class: "instagram-draggable", id: tag.instagram_id %><br>
      <button disabled="<%= tag.votable?(current_user.id) %>" class="vote-button"><div id="heart"</div></button>
        <span>
          <span class="vote-count"><%= tag.vote_count %></span></span>

      </div>
      <% end %>

    </div>



    </div>

  </div>



