
<div class="container">
  <button class="filter-button">toggle</button>

  <h3>ALL the PICTURES</h3>
  <div class="instagram-pictures container js-masonry all-the-pictures masonry item" id="container" data-masonry-options='{ "columnWidth": 102, "itemSelector": ".item" }'>
      <% @instagram_array.each do |tag| %>
        <div class="item">
          <%= image_tag tag.image_url, class: "instagram-draggable", id: tag.instagram_id %><br>
            <div class="">
              <button disabled="<%= tag.votable?(current_user.id) %>" class="vote-button">vote</button >
              <span>votes = <span class="vote-count"><%= tag.vote_count %></span></span>
            </div>
        </div>
      <% end %>
  </div>

  <div class="your-pictures">
    <ul class="instagram-pictures">
      <h3>YOUR pictures</h3>
      <% @instagram.each do |instagram| %>
        <% if instagram.tags.grep(/collect_a_matron/) != [] %>
        <li><%= image_tag instagram.images.thumbnail.url, class: "instagram-draggable", id: instagram.id %><p></p></li>
        <% end %>
      <% end %>

    </ul>
  </div>

</div>



