@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */
html {
  overflow-y: scroll;

}

body {
  font-family: 'Varela Round', sans-serif;
  padding-top: 60px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgba(100,100,100,.2)
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
span.nickname {
  font-style: italic;
}

.nav-toggle-link {
  background-color: transparent;
  color: #999999;
  display: block;
  padding: 10px 15px 10px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

nav {
  height: 40px;
}

.top-nav {
  text-transform: lowercase;
  background-color: transparent;
  color: rgba(255,100,72,1);
  display: block;
  padding: 10px 15px 10px;

}

.navbar-inverse li > a:hover {
  background-color: transparent;
  color: white;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: 1px;
  padding-top: 9px;
  padding-left: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* body */
.hidden {
  display: none;
}

.container {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 15px;
}

.masonry .item {
  width:  195px;
  height: 225px;
  float: left;
  margin-bottom: 50px;
  background: #D26;
  background-color: rgba(80,80,80,1);
  border-radius: 0px;
  overflow: hidden;
}

.instagram-draggable {
  margin-bottom: 3px;
}

/* picture vote bar */
.vote-count {
  margin-left: 130px;
  margin-top: 10px;
  margin-bottom: -10px;
  color: rgba(200,200,200,1);
}

.vote-button {
  margin-top: -1px;
  margin-left: 5px;
  background: rgba(0,0,0,0);
  border: none;
  &:focus {
    outline: none;
  }
}

.navbar-inner {
  background-color: rgba(80,80,80,1) !important;
}

div.navbar {
    background-color: blue;
    position: relative;
}

body {
  padding: 0;
}

@media screen and (max-width: 480px){
  div.navbar {
    background-color: blue;
  }
  body {
    margin-left: 61px;
    margin-right: 61px;
  }
}

@media screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2){
  div.navbar {
    background-color: blue;
  }
  body {
    margin-left: 61px;
    margin-right: 61px;
  }
  .vote-count {
    margin-left: 170px;
    padding-top: 5px;
    margin-top: 16px;
    padding-bottom: 0;
    margin-bottom: -30;
    font-size: 1.5em;
  }
  .vote-button {
    margin-top: -10px;
  }
  .instagram-draggable {
    margin-bottom: 10px;
  }
  .masonry .item {
    width:  260px;
    height: 300px;
    margin-left: -30px;
  }
  ul.nav.pull-right {
    margin-bottom: -25px;
    text-align: center;
    margin-right: 0;
  }
  ul.nav.pull-right li a{
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-size: .8em;
  }
  ul.nav.pull-right li{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  li.top-nav {
    padding-bottom: 0px;
    margin-bottom: -18px;
    margin-top: -5px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  a#logout {
    padding-left: 63px;
  }
  a#connect {
    padding-top: 7px;
    padding-right: 50px;
    padding-bottom: 11px;
    margin-bottom: 11px;
    text-align: center;

  }
}


/*      color: rgba(100,4,200,1); */