@media only screen and (max-device-width: 480px) {

  body {
    text-align: center;
    margin: 5px;
    background-color: rgba(126,126,126,.3);
  }

  header {
    position: relative;
    text-align: center;
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: teal;
  }

  a:hover {
    color: rgba(100,190,50,1);
  }

  .container {
    position: relative;
    width: 85%;
    height: 100px;
    margin: auto;
    padding: 10px;
    background-color: rgba(10,110,280,.5);
  }

  .left-container {
    /*position: absolute;*/
    width: 40%;
    background-color: rgba(100,110,80,.7);
    border-radius: 1em;
    height: 100px;
    float: left;
    min-width: 400px;
  }

  .right-container {
    /*position: absolute;*/
    margin-left: 45%;
    height: 100px;
    background-color: rgba(280,270,200,.7);
    border-radius: 1em;
  }

  .instagram {
    border-radius: 1em;
    text-align: center;
    width: 150px;
  }

}