<footer class="footer">
  <small>
    <a href="http://www.scaryforkids.com/pics/crazy-eyes.jpg">printstacard</a>
    by Miya Munsell, Marion Knight, Vanessa Pyne, and Brantley Beaird
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'http://devbootcamp.com/' %></li>
      <li><%= mail_to "bbeaird@gmail.com", "Contact Us!" %></li>
    </ul>
  </nav>
</footer>