<header>
  #collect_a_matron

  <% if current_user %>
    <h3><%= "yo, "+ current_user.nickname %></h3>
    <%= link_to "logout", sessions_path, :method => :delete %>
  <% else %>
    <h3><%= "start collectin'" %></h3>
    <%= link_to 'connect to instagram!', auth_instagram_path %>
  <% end %>
</header>
