<!DOCTYPE html>
<html>
<head>
  <title>Instagram with Rails Sample</title>

  <%= csrf_meta_tag %>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

</head>
<body>

<div class="container">
<%= yield %>
</div> <!-- /container -->

</body>
</html>